body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
     
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* الصورة الدائرية */
.profile-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #23d9dc;
    box-shadow: 0 0 25px rgba(35,217,220,0.6);
    margin-bottom: 20px;

    /* حركة بسيطة */
    animation: float 3s ease-in-out infinite;
}

/* حركة للصورة */
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* حركة من الشمال إلى اليمين */
section {
    animation: slideRight 1.5s ease;
}

/* الأنيميشن */
@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 2;
        transform: translateX(0);
    }
}

header {
    text-align: top;
    padding: 400px;
    
    background: linear-gradient(45deg, rgba(124, 58, 237, 0.7), rgba(6, 182, 212, 0.7)),
                ;

    
}
    

h1 {
    font-size: 40px;
}

section {
    
    padding: 40px;
}
#moh1{
text-align: center;
font-size: 70px;
color: #06b6d4;
font-weight: bold;

}

#moh{
text-align: center;
font-size: 30px;
color: #06b6d4;
font-weight: bold;

}

#psc{
    font-size: 10px;
}

#sk{
    font-size: 40px;
    font-weight: bold;

}
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;
}

#dc {
    background: #3f6bb2;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #7c3aed;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background: #7c3aed;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #06b6d4;
}

.logo img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    vertical-align: left;
    transition: 0.3s;
}

#np{
    font-size: 30px;
    padding: 0%;
    font-family: system-ui;
    font-weight: 700;
color: rgb(9, 192, 224) ; 
}
#mh{
    font-size: 30px;
    padding: 0%;
    font-family: system-ui;
    font-weight: 700;
color: rgb(224, 217, 9) ; 

}
#cin{
font-size: 20px;
    font-weight: bold;

}
#table
{
    background-color: #0f172a;
    font-family: Arial;
    color: white;
    padding: 20px;
}


/* Table */
 table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 20px;
    vertical-align: top;
}

th {
    background-color: #1e293b;
    font-size: 22px;
}

.category {
    font-weight: bold;
    font-size: 20px;
}

/* Badges */
.badge {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

/* Colors */ الجدول
.blue { background: #2563eb; }
.green { background: #16a34a; }
.orange { background: #ea580c; }
.purple { background: #7c3aed; }
.red { background: #dc2626; }
.teal { background: #0d9488; }
.yellow { background: #eab308; color: black; }

.navbar {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
    scroll-behavior: smooth;
}
.navbar
{
    display: flex;
    justify-content: flex-end;
    gap: 0px;
    padding: 5px;
    background: rgb(21, 26, 33);
    position: sticky;
    top: 0;
    
}

.navbar  {

    font-family: bold;
    
}
.navbar a {
    
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: bold;
    
    
}


/* الخط المتحرك */
.navbar a::after
 {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: -3%;
    height: 3px;
    background: #23d9dc;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s ease;
    
}
/* عند المرور */
.navbar a:hover::after {
    width: 33%;
    transform: scaleX(3);
}



.nacard {
    background: #1e293b;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    transition: 0.3s;
}

.nacard:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #7c3aed;
}

#buabout {
    background: #2ba59d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#buabout:hover {
    background: #2616b2;
}




.btn {
    background: #13d1d7;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
 -- الايميل 
.contact-container {
    display: flex;
    gap: 10px; /* المسافة بينهم */
    flex-wrap: wrap; /* ينزلوا سطر ثاني لو الشاشة صغيرة */
}

.contact-item {
    align-items: left;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 5px;
}

.contact-item img {
    width: 25px;
}

.contact-item button {
    padding: 5px 10px;
    cursor: pointer;
}

صورىة خلفية 
.card {
    width: 300px;
    height: 200px;
    background-image: url("img/hr.png");
    background-size: cover;       /* تغطي الكارد كامل */
    background-position: center;  /* توسيط الصورة */
    border-radius: 15px;
    display: flex;
    align-items: end;
    color: white;
    padding: 5px;
   
}

.card-content {
    width: 600px;
    height: 200px;
    background-image: url("img/hr.png"); /* طبقة شفافة عشان النص يبان */
    padding: 5px;
   border-radius: 15px;
     background-size: cover
}

.card1 {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;}

    .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #7c3aed;
}

.card1 {
    background: rgba(30, 41, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}


-- 

.card1 {
    width: 300px;
    height: 200px;
    background-image: url("img/bank.png");
    background-size: cover;       /* تغطي الكارد كامل */
    background-position: center;  /* توسيط الصورة */
    border-radius: 15px;
    display: flex;
    align-items: end;
    color: white;
    padding: 5px;
   
}

.card1-content {
    width: 600px;
    height: 200px;
    background-image: url("img/bank.png"); /* طبقة شفافة عشان النص يبان */
    padding: 5px;
   border-radius: 15px;
     background-size: cover
     
}

.card1 {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;}

    .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #7c3aed;
}

.card1 {
    background: rgba(30, 41, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

-- 
.card2 {
    width: 300px;
    height: 200px;
    background-image: url("img/health.png");
    background-size: cover;       /* تغطي الكارد كامل */
    background-position: center;  /* توسيط الصورة */
    border-radius: 15px;
    display: flex;
    align-items: end;
    color: white;
    padding: 5px;
   
}

.card2-content {
    width: 600px;
    height: 200px;
    background-image: url("img/health.png"); /* طبقة شفافة عشان النص يبان */
    padding: 5px;
   border-radius: 15px;
     background-size: cover
     
}

.card2 {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;}

    .card2:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #7c3aed;
}

.card2 {
    background: rgba(30, 41, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}


.cards-container {
    display: flex;
    gap: 50px; /* 🔥 المسافة بين الصور */
    flex-wrap: wrap; /* ينزل سطر ثاني لو الشاشة صغيرة */
}


   
#edu{ 
font-family:system-ui;
font-weight: bold;
color: darkkhaki;
font-size: 30px;
}

#ed{ 
    
font-weight: bold;
color: rgb(243, 243, 243);
font-size: 40px;
}


/* ===== Certificates Section ===== */
.certificates {
    padding: 80px 10%;
    background: #0f172a;
    color: white;
}

.section-title {
    text-align: Left;
    margin-bottom: 50px;
    font-size: 40px;
}

.section-title h2 {
    font-size: 40px;
    color: #23d9dc;
}

.section-title p {
    color: #ccc;
    margin-top: 10px;
}

/* Container */
.certificates-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* Card */
.certificate-card {
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
}
    

.certificate-card:hover {
    transform: translateY(-10px);
box-shadow: 0px 0px 20px #7c3aed;}


/* Image */
.certificate-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

/* Info */
.certificate-info {
    padding: 20px;
}

.certificate-info h3 {
    margin-bottom: 10px;
    color: #23d9dc;
}

.certificate-info p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #23d9dc;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #7c3aed;
}